h1{
  background-color: #5aa3b6;
  padding: 25px;
  color: #e5f6f8;
  text-align: center;
}

.cont-app{
  background-color: #eafdfb;
  min-height: 100vh;
}

ul{
  padding: 40px;
}

h2{
  color: #447480;
}

.profissao{
  color: #417b8a;
}